<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <script src="//code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Ksiazki</a></li>
                        <li><a href="#">Uzytkownicy</a></li>
                        <li><a href="#">Galerie</a></li>
                        <li><a href="#">Opcje systemu</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

    </div>

</body>

</html>