{% extends 'Books/View/Layout/layout.html.twig' %}

{% block content %}

<h1>Spis lektur</h1>
<table class="table table-hover">
    <tr>
        <th>Nazwa</th>
        <th>Autor</th>
        <th>Opis</th>
        <th class="text-right">Akcja (Inactive)</th>
    </tr>
    {% for row in books %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.author }}</td>
            <td>{{ row.description }}</td>
            <td class="text-right">
                <a class="btn btn-primary" href="{{ url('bookEdit', {'id' : row.id}) }}" role="button" disabled>Edytuj</a>
            </td>

        </tr>
    {% endfor %}
</table>

{% endblock %}